# Replace both placeholders with the addresses assigned to your VMs.
CORE_VM_IP="<Core VM IPv4 address>"
IUF_VM_IP="<IUF VM IPv4 address>"

NEF_URL="http://${CORE_VM_IP}:8005/lab-intents/v1/intents"
NRF_URL="http://${CORE_VM_IP}:8001"
AF_IP="${IUF_VM_IP}"

PLMN_MCC="001"
PLMN_MNC="01"
